<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UFT8">

    <title>Detail</title>

  </head>
  <body>
      <p><%= @content.name %></p>
      <p><%= @content.address %></p>
  </body>
</html>
