<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">

		<title>掲示板</title>

	</head>
	<body>
		<form action="/new" method="post" enctype="multipart/form-data">
			<p>名前:<input type="text" name="name"></p>
			<p>住所:<input type="text" name="address"></p>
			<p>交通:<input type="text" name="traffic"></p>
			<p>給料:<input type="text" name="money"></p>
			<p>シフト:<input type="text" name="shift"></p>
			<p>一言:<input type="text" name="message"></p>
			<p>説明:<textarea name="explanation" rows="10" cols="100" placeholder="ここに本文を書いてください"></textarea></p>
			<p>特徴:<input type="text" name="feature"></p>
			<p>対象者:<input type="text" name="condition"></p>
			<p>勤務期間:<input type="text" name="period"></p>
			<p>採用人数:<input type="text" name="count"></p>
			<p>交通費詳細:<input type="text" name="rare"></p>
			<p>待遇・福利厚生:<input type="text" name="treatment"></p>
			<p>男女比:<input type="text" name="ratio"></p>
			<p>年齢層:<input type="text" name="age"></p>
			<p>従業員の属性:<input type="text" name="representations"></p>
			<p>職場の雰囲気:<input type="text" name="atmosphere"></p>
			<p>応募方法:<input type="text" name="manner"></p>
			<p>応募後の流れ:<input type="text" name="flow"></p>
			<p>電話番号:<input type="text" name="tel"></p>
			<p><input type="submit" value="投稿"></p>
		</form>

		<ul>
			<% @contents.order('id DESC').each do |content| %>
				<li>
				<a href="/details/<%= content.id %>"><%= content.name %></a>
					<!--span>
						<form action="/details/<#% content.id %>" method="post">
							<a><#%= content.name %></a>
							<a><#%= content.address %></a>
							<a><#%= content.money %></a-->
					</span>
				</li>
			<% end %>
		</ul>




	</body>
</html>
